matplotlib==3.6.3
numpy==1.24.1
opencv-python==4.7.0.68
pandas==1.5.3
scikit-learn==1.2.1
tqdm==4.64.1
wandb==0.13.9
ultralytics==8.0.21
torch==1.13.1
torchvision==0.14.1

#torch=1.13.1+cu116
#torchaudio=0.13.1+cu116
#torchvision=0.14.1+cu116
